<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>#if($pageTitle) $pageTitle #else 欢迎使用学校信息管理系统 #end</title>
<link rel="stylesheet" href="${contextPath}/qwf-school-mis-core/resource/css/menu.css" type="text/css" media="screen" />
<script type="text/javascript"
	src="${contextPath}/qwf-school-mis-core/resource/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript"
	src="${contextPath}/qwf-school-mis-core/resource/js/menu.js"></script>
</head>
<body>